extends layout

block content
  #banner.page-header
    .row
      .col-lg-12
        .text-center
          i
            h1= pageHeader.title
            small &nbsp; #{pageHeader.strapline}
     <br />
    .row
      each movie in movies
        .col-sm-2
          .card
            img(class="card-img-top" src="#{movie.image}" alt="Card image cap" height="283" width="207")
            //-p.lead look 
        .col-md-4.col-sm-6.col-xs-12
          +panel(movie.name, "primary") 
            strong= grab(movie.desc, 90)
            p
              strong 
              each top_act in movie.top_acts
                i #{top_act}&nbsp;.&nbsp;
            p 
              strong|Genre:&nbsp; 
              each genres in movie.genre
                i #{genres}.&nbsp;
            p 
              small &nbsp;
                +outputRating(movie.ratings)      
            p  
              span.glyphicon.glyphicon-heart
              | &nbsp;&nbsp;&nbsp;&nbsp;
              span.glyphicon.glyphicon-play-circle
              | &nbsp; &nbsp;&nbsp; #{movie.prod_year}
              |&nbsp;
              span.glyphicon.glyphicon-calendar
            p
              .col-xs-12
              a.btn.btn-default.pull-right(href='/movie') More Info