extends layout

block content
   .section
    .row
      .text-center
        i
          h1= pageHeader.title
          small &nbsp; #{pageHeader.strapline}
      .col-lg-10.col-lg-offset-1
        for movie in movies
         .col-xs-6(class='.col-md-6')
          br
          .row
          .col-md-4
            a(href='#')
                img.img-responsive(src='images/chinasa-poster.jpg', style='height:260px;')
          .col-md-8
            h3
              .span1(type='strong', style='font-size:60%;')
                h5= grab(movie.name, 20)
                  span.pull-right
                    +outputRating(movie.ratings)
              .span1(style='font-size:50%;')
                p(style='white-space:pre;')
                em #{movie.genre}
                span.pull-right
                  soft &nbsp; #{movie.productionYear}  
                  span.glyphicon.glyphicon-calendar
            p(style='font-size:90%;')
              em= grab(movie.desc, 150)
            .col-md-12
              hr
            a.pull-right(href="/movies/#{movie._id}") More Info